# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData

# vim buffers
*.swp

# java compilation
build
doc

# test output
output_test

# svn
.svn

*.pdf
*.tab
